


.task-painel{
    width: 80%;
    height: 200px;
    margin: 10px auto;
    border-radius: 5px 0 0 5px;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    overflow-x:unset;
    overflow-wrap: break-word;
    scroll-behavior: smooth;

    h2{ 
        background-color: rgb(213, 213, 216);
        margin: 0;
    }
    p{        
        text-align: justify;
        padding: 15px;
    }
    
    .icons-sup{
        text-align: right;
        display: flex;
        justify-content: space-between;
        margin: 5px;

    }
    .icons-sup-right{
        text-align: right;
        margin: 5px;
    }

    .icons-inf{
        text-align: right;
    }

    .icon{
        font-size: 20px;
        padding: 2px;
        border-radius: 20px;
    }

    .done{
        color: rgb(7, 177, 7);
        border : 1px solid rgba(0, 0, 0, 0);
        border-radius: 100px;
    }
    .undone{
        color: black;
        text-align: left;
        border : 1px solid rgba(0, 0, 0, 0);
        border-radius: 100px;
    }
    .delete{
        color: rgb(219, 22, 22);
        border-radius: 100px;
        border : 1px solid rgba(0, 0, 0, 0);
        margin-left: 10px;
    }
    .update{
        color: rgb(0, 110, 255);
        border-radius: 100px;
        border : 1px solid rgba(0, 0, 0, 0);
        margin-left: 10px;
    }

    .done:hover{
        border : 1px solid rgb(7, 177, 7);
    }
    .undone:hover{
        border : 1px solid black;
    }
    .delete:hover{
        border : 1px solid rgb(219, 22, 22);
    }
    .update:hover{
        border : 1px solid rgb(0, 110, 255);
    }


}
.task-painel::-webkit-scrollbar {
    width: 10px;
  } 
  
.task-painel::-webkit-scrollbar-thumb {   
  background-color: rgb(31, 8, 160);   
  }