.task-painel{
    width: 90%;
    height: 150px;
    margin: 10px auto;
    border-radius: 10px 0 0 10px;
    background-color: white;
    box-shadow: 0 0 0.2em rgb(41, 38, 226);
    overflow: auto;
    scroll-behavior: smooth;

    h2{ 
        background-color: rgb(213, 213, 216);
        margin: 0;
    }
    p{        
        text-align: justify;
        padding: 15px;
    }
    
    .icons-sup{
        text-align: right;
        display: flex;
        justify-content: space-between;
        margin: 5px;

    }
    .icons-sup-right{
        text-align: right;
        margin: 5px;
    }

    .icons-inf{
        text-align: right;
    }

    .icon{
        font-size: 20px;
        padding: 3px;
        border-radius: 20px;
    }

    .done{
        color: rgb(7, 177, 7);
        border-radius: 10px;
    }
    .undone{
        color: black;
        text-align: left;
        border-radius: 10px;
    }
    .delete{
        color: rgb(219, 22, 22);
    }
    .update{
        color: rgb(0, 110, 255);
        margin-left: 10px;
    }

    .done:hover{
        background-color: rgb(7, 177, 7);
        color: white;
    }
    .undone:hover{
        background-color: black;
        color: white;
    }
    .delete:hover{
        background-color: rgb(219, 22, 22);
        color: white;
    }
    .update:hover{
        background-color: rgb(0, 110, 255);
        color: white;
    }


}
.task-painel::-webkit-scrollbar {
    width: 10px;
  } 
  
.task-painel::-webkit-scrollbar-thumb {   
  background-color: rgb(31, 8, 160);   
  }