.conteiner-home{
    width: 90vw;
    display: flex;
    justify-content: space-between;
    gap: 150px;
    .text-home{
        text-align: justify;
        margin: 0 auto;
    }

}

@media (max-width: 800px){
    .conteiner-home{
        display: flex;
        flex-direction: column-reverse;
    }   
}