.sign-in-and-sign-up {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto;

  }


  @media (max-width: 800px){
    .sign-in-and-sign-up{
      width: 90%;
      flex-direction: column;
    }
    .sign-in-and-sign-up * {
      margin-top: 20px;
    }
  }
