.painel{
    width: 100%;
    height: auto;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 1em black;
    border-radius: 10px;
    text-align: center;
    font-size: 50px;


    .painel-main{
        height: 100vh;
        margin: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .painel-colunm{
            height: 100vh;
            border-collapse: collapse;
            border: 2px solid rgb(92, 92, 92);
        }
        .painel-colunm-tasks{
            height: 100;
            display: grid;
            grid-template-columns: 1fr;
        }
        .painel-colunm p.type{
            margin: 0;
            height: 10%;
            background-color: rgb(98, 16, 230);
        }
    }
}
