@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.painel{
    width: 100%;
    height: auto;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 1em black;
    border-radius: 10px;
    text-align: center;
    


    .painel-main{
        height: 100vh;
        margin: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .painel-colunm{
            height: 100vh;
            border-collapse: collapse;
            border: 2px solid rgb(36, 120, 230);
        }
        .painel-colunm-tasks{
            height: 100;
            display: grid;
            grid-template-columns: 1fr;
        }
        .painel-colunm p.type{
            margin: 0;
            height: 10%;
            font-family: 'Indie Flower', cursive;
            background-color: rgb(122, 173, 240);
            font-family: 'Righteous', cursive;
            font-size: 30px;
            
            display: flex;
            justify-content: center;
            align-items: center;
            margin:auto;
        }
    }
}
