@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.painel{
    width: 100%;
    height: auto;
    font-family: 'Quicksand', sans-serif;    
    box-shadow: 0 0 0.2em rgb(126, 125, 125);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.212);

    .painel-main{
        height: 85vh;
        margin: 0px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);


        .painel-colunm{
            background-color: rgba(0, 0, 0, 0.377);
            margin: 10px;
            height: auto;
            border-collapse: collapse;
            overflow: auto;
            scroll-behavior: smooth;
            border-radius: 10px;
        }
        .painel-colunm-tasks{
            height: 100px;
            display: grid;
            grid-template-columns: 1fr;
        }
        .painel-colunm p.type{
            margin: 0;
            height: 10%;
            font-family: 'Indie Flower', cursive;
            background-color: rgba(36, 230, 188, 0.452);
            font-family: 'Righteous', cursive;
            font-size: 30px;
            
            display: flex;
            justify-content: center;
            align-items: center;
            margin:auto;
        }
    }
}

.painel-colunm::-webkit-scrollbar {
    width: 10px;
  } 
  
.painel-colunm::-webkit-scrollbar-thumb {   
  background-color: rgb(31, 8, 160);   
  }

  @media (max-width: 800px){
    .painel{
        margin: 10px;
        .painel-main{
            grid-template-columns: 1fr;
            height: 200vh;
            
        
            .painel-colunm{
                margin: 5px;
                border: 0.2px solid rgba(17, 192, 105, 0.972);
                border-radius: 0px;
            }

            .painel-colunm p.type{
                height: 40px;
                font-size: 20px;
            }

        }   
    }
}

@media (max-width: 300px){

    .painel{
        margin: 0px;
    }

}