@import url('https://fonts.googleapis.com/css2?family=Acme&family=Catamaran&display=swap');



.menu{
    position: fixed;
    font-family: 'Acme', sans-serif;
    font-family: 'Catamaran', sans-serif; 

    .pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout {
        color: white ;
        background-color: #046e45;
    }
    .pro-sidebar .pro-menu.shaped .pro-menu-item > .pro-inner-item >
    .pro-icon-wrapper {
        background-color: rgba(0, 0, 0, 0.404); 
        border-radius: 10px;
    }

    .menu-item{
        font-size: 20px !important; 
    }
    .menu-item:hover{
        background-color: rgba(0, 0, 0, 0.404); 
    }
    
    .arrow-icon:hover{
        border-radius: 100px;
        background-color:rgba(0, 0, 0, 0.404); 
    }

    .closemenu, .logotext{
        text-align: center;
    }


    .arrow-icon{
        padding: 5px;
        font-size: 30px;
    }

    .big-icon{
        color: whitesmoke;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
}