@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


html{
  /* background-image: linear-gradient(to bottom right, rgb(81, 69, 248), rgb(111, 113, 228)); */
  background-image: linear-gradient(to bottom right, rgb(60, 212, 218), rgb(123, 248, 98));
  
  background-attachment: fixed;
  scroll-behavior: smooth;
  font-family: 'Quicksand', sans-serif;    
}

body::-webkit-scrollbar {
  width: 10px
} 

body::-webkit-scrollbar-thumb {   
background-color: rgb(0, 0, 0);   
}

.App {
  display: grid;
  grid-template-areas: 'menu container';

}

.menu{
  grid-area: menu;
  height: 100vh;
}

.content{
  padding-left: 100px;
  grid-area: auto;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0px;
  padding: 0px;
}



