.App {
  background-color: rgb(63, 227, 233);
  display: grid;
  grid-template:
  "sidenav content content" 
  "sidenav content content" 
  "sidenav footer footer" ;
  margin: 0;
  padding: 0;
}

.menu{
  grid-area: sidenav;
  height: 100vh;
}

body {
  margin: 0px;
  padding: 0px;
}

.content{
  grid-area: content;
  background-color: aquamarine;
}

